.page {
  // .page__hero
  &__hero {
  }
  // .page__about
  &__about {
  }
}
//====================================================================================================
.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;

  // .hero__container
  &__container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 72%;
    padding-top: toRem(150);
    padding-bottom: toRem(50);
    position: relative;
    z-index: 2;
    flex-grow: 1;

    @media (max-width: $tablet) {
      grid-template-columns: auto;
      row-gap: toRem(30);
    }
  }
  // .hero__content
  &__content {
    position: relative;
    z-index: 2;
    // max-width: toRem(650);

    @media (min-width: $tablet) {
      margin-right: -43%;
    }
  }
  // .hero__title
  &__title {
    font-family: "Italiana";
    @include adaptiveValue("font-size", 100, 40);
    line-height: 1;
    color: $mustardColor;
    text-transform: capitalize;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 35, 15);
    }
  }
  // .hero__button
  &__button {
    line-height: 1.5;
    text-transform: capitalize;

    @media (max-width: $mobileSmall) {
      width: 100%;
      justify-content: center;
    }
  }
  // .hero__slider
  &__slider {
    // max-width: toRem(650);
    // margin: 0 auto;
  }
  // .hero__wrapper
  &__wrapper {
    @media (max-width: $tablet) {
      margin-bottom: toRem(30);
    }
  }
  // .hero__slide
  &__slide {
  }
  // .hero__control
  &__control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: toRem(40);

    @media (min-width: $tablet) {
      position: absolute;
      bottom: toRem(30);
      right: toRem(20);
    }
  }
  // .hero__arrow
  &__arrow {
    color: $mustardColor;
    font-size: toRem(20);
    transition: transform 0.3s ease 0s;
    // .hero__arrow--left
    &--left {
      transform: rotate(180deg);
      @media (any-hover: hover) {
        &:hover {
          transform: scale(1.3) rotate(180deg);
        }
      }
    }
    // .hero__arrow--right
    &--right {
      @media (any-hover: hover) {
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
  // .hero__bg
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top;
  }
}

.slide-hero {
  // /slide-hero__wrap
  &__wrap {
    @include adaptiveValue("padding", 24, 10);
    border: toRem(1) solid $mustardColor;
    border-radius: 50%;
  }
  // .slide-hero__body
  &__body {
    // width: toRem(650);
    // height: toRem(650);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
  }
  // .slide-hero__image
  &__image {
    // max-width: 100%;
    width: 100%;
  }
}

//==============mini-slider======================================================================================

.slider-mini {
  // padding-left: toRem(40);
  margin-left: toRem(40);
  // .slider-mini__wrapper
  &__wrapper {
  }
  // .slider-mini__slide
  &__slide {
    padding: toRem(4);
  }
}

//==============about======================================================================================

.about {
  @include adaptiveValue("padding-top", 170, 30);
  @include adaptiveValue("padding-bottom", 80, 30);
  // .about__container
  &__container {
  }
  // .about__body
  &__body {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 115, 15);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 80, 20);
    }

    @media (max-width: $tablet) {
      flex-direction: column-reverse;
    }
  }
  // .about__picture
  &__picture {
    flex: 0 1 53.125%;
    border: toRem(1) solid $mustardColor100;
    padding: toRem(19);
    img {
      max-width: 100%;
    }
  }
  // .about__content
  &__content {
    flex: 1 1 auto;
    max-width: toRem(500);
  }
  // .about__items
  &__items {
    display: grid;
    gap: toRem(15);
    max-width: toRem(1024);
    justify-items: center;
    margin: 0 auto;

    @media (min-width: toEm(610)) {
      grid-template-columns: repeat(3, auto);
    }
  }
  // .about__item
  &__item {
  }
  // .about__link
  &__link {
  }
}
.link-cart {
  text-align: center;

  > * {
    margin-bottom: toRem(30);

    &:last-child {
      margin-bottom: 0;
    }
  }
  // .link-cart__picture
  &__picture {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: url("@img/button/background.png") center / cover no-repeat;
    overflow: hidden;
    width: toRem(140);
    height: toRem(140);

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $whiteColor;
      opacity: 0.5;
    }

    img {
      position: relative;
      flex: 0 1 toRem(60);
      width: toRem(80);
      z-index: 2;
      // max-width: 100%;
    }
  }
  // .link-cart__label
  &__label {
    font-family: "Italiana";
    font-size: toRem(24);
    line-height: 1.6;
    text-transform: capitalize;
  }
}
